<!DOCTYPE html>

<html>

<head>
    <title>About Me</title>
    <link rel="icon" href="/img/clear-sky.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Mayank Malhan.</p>
        <p>It uses data from mapbox.com and weatherstack.com to provide weather results.</p>
        <img class="portrait" src="./img/Mayank_newphoto.jpg" alt="A picture of the creator">
    </div>
    
    {{>footer}}
</body>

</html>